- var numFormat = new Intl.NumberFormat('en-US', {maximumFractionDigits: 2});
- var currencyFormat = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 0 });
| #{data.current.Hashtag} unofficial wildfire update. #{numFormat.format(data.current.DailyAcres)} Acres. #{numFormat.format(data.current.PercentContained)}% Contained*. 
if data.cities && data.cities.length > 0
  | Vicinity of #{data.cities[0].displayName}. 
| May be incorrect/outdated. Consult officials for safety info.