html {
    font-family: 'DejaVu Sans', sans-serif;
    background-color: white;
    zoom: 186%;
}

.content {
    margin: auto auto;
}

.perim .content {
    margin: 0;
}


h1 {
    color: red;
    background-color: rgb(162, 255, 182);
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-size: 150%;
    text-align: center;
    border:5px solid rgb(85, 215, 255);
}

.perim body {
    border: none;
    margin: 0;
    padding: 0;
}

.bigMap {
    width: 100%;
}

.smallMap {
    width: 100%;
    margin: auto;
}

table {
    width: 100%;
}

.important {
    font-size: 125%;
}

.data tr:nth-child(even) {
    background: #eee;
}

.previous {
    color: #666;
    padding-left: 10px;
    font-size: 60%;
}

.deltaUp {
    color: green;
    padding-right: 5px;
}

.deltaDown {
    color: red;
    padding-right: 5px;
}

.warn {
    background-color: black;
    color: white;
    padding: 5px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 67.5%;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: 600;
}

.perim .warn {
    margin-top: 0;
    width: 100%;
    font-size: 90%;
}

.upd, .fireid {
    font-size: 70%;
    color: black;
}

.cite {
    font-family: 'Roboto', sans-serif;
    font-size: 52%;
    width: 95%;
    margin: 13px auto;
}

.perim .cite {
    font-size: 70%;
    margin: 0;
}

.data td {
    text-align: left;
}
.data th {
    text-align: right;
}
.data td, th {
    padding: 5px;
}

.data .details {
    font-size: 70%;
    text-align: center;
}

.data .detailsRow {
    margin-top: 20px;
}

.data .detail {
    white-space: nowrap;
}

.detail + .detail:before {
    content: " — ";
}

.cite p {
    margin: 3px;
}